/* Variable Declarations */
:root {
    --color-pink: #bf3372;
    --color-primary: #e9acbd;
    --color-secondary: #aa3c83;
    --color-yellow: #d3cb97;
    --color-bodyText: #585a5a;
    --color-footer: #df23b3;
    --font-body-text: 1.25em;
}

/* Global Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease; 
}

/* Body Styles */
body {
    font-size: var(--font-body-text);
    background-color: aliceblue;
}

/* Typography */
h1, h2, h3, h4, h5 {
    font-family: 'Sans-Serif', sans-serif;
    margin: 0;
    transition: color 0.3s ease; 
}

/* Links and Buttons */
a {
    color: var(--color-primary);
    font-weight: normal;
    text-decoration: none;
    transition: color 0.3s ease; 
}

a:hover {
    color: var(--color-pink);
    text-decoration: none;
}

.button {
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-pink);
    text-align: center;
    padding: 0.6em 2em;
    transition: all 0.3s ease; 
}

.button:hover {
    opacity: 0.8;
    background-color: var(--color-primary-lowOpacity);
}

.button > a {
    color: var(--color-pink);
}

/* Layouts */
.container {
    padding: 0 15px;
    display: flex; 
    transition: background-color 0.3s ease; 
}

/* Header Styles */
header {
    background-color: var(--color-primary);
    color: var(--color-pink);
    padding: 20px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

header > svg {
    width: 60px;
    height: 60px;
}

/* Main Content Styles */
main {
    flex: 1; 
    padding: 20px;
}

aside {
    flex: 0 0 40%; 
    padding: 20px; 
    background-color: lightgray; 
}

/* Media Queries */
@media only screen and (min-width: 640px) {
    .container {
        padding: 0 0px;
    }

    header {
        padding: 30px; 

    main {
        
        font-size: 1.5em; 
    }

    aside {
        flex: 0 0 40%; 
        font-size: 1.2em; 
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 960px; 
    }

    header {
        display: flex; 
    }

    main {
        
        margin-right: 20px; 
    }

    aside {
        flex: 0 0 40%; 
        margin-left: 20px; 
    }

/* the animation */
@keyframes move {
    0% { transform: translateX(0); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }
}

/* Apply the animation to the SVG element */
svg {
    animation: move 2s infinite; 
}
